{{define "footnoteComponent"}}
    <div class="ui padded segment">
        <p>This GoBucketList application is currently in development and will be experiencing updates constantly!!</p>
    </div>
{{end}}