{{define "footnoteComponent"}}
    <div class="ui padded segment">
       <h4>Current Time: {{.Time}}, Current Date: {{.Date}}</h4>
        <h5>This GoBucketList application is currently in development and will be experiencing updates constantly!!</h5>
    </div>
{{end}}