{{define "headerComponent"}}
    <h2 class="ui center aligned icon header">
{{/*        <i class="circular bitbucket icon"></i>*/}}
        <img class="ui small circular image" src="./static/images/bucket_cash_517749338-1080x627.jpg">
        THIS IS WHAT WE CALL A BUCKETLIST
    </h2>
    <h1 class=" ui sub header" style="text-align: center">
        Time: {{.Time}} ------------------------- Date: {{.Date}}
    </h1>
{{end}}