<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./static/jquery-2.2.0.min.js"></script>
    <script src="./static/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/semantic.min.css" />
    <title>Hello World!</title>

</head>
<body>
<script>
    console.log("on content load")
    function removeFromBucket(index) {
        console.log("removeFromBucket index:", index)
        let listItem = document.getElementById(`item${index}`)
        console.log(listItem)
        listItem.parentNode.removeChild(listItem)
    }
</script>
{{template "headerComponent"}}
<div class="ui container">
    <div class="ui fluid action input">
        <input type="text" placeholder="Search...">
        <div class="ui button">Search</div>
    </div>
<div class="ui inverted segment">
    <div class="ui inverted relaxed divided list">
            {{range $i, $e := .Todos}}
                <div class="item" id=item{{$i}}>
                    <div class="content" style="font-size: 2em">
                            <button
                               class="positive ui right floated button"
                               onclick="removeFromBucket({{$i}})">Remove from Bucket
                            </button>
                        {{$e}}
                    </div>
                </div>
            {{end}}

    </div>
</div>
    {{template "footnoteComponent" .MetaData}}
</div>

</body>
</html>